name: fluid_nav_bar
description: A new Flutter project.

version: 1.0.0+1

environment:
  sdk: ^3.6.1

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.6
  shared:
    path: ./_shared
  graphql_flutter: ^5.1.2
  logging: ^1.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter


flutter:
  uses-material-design: true
